* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    border: 1px solid black;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid #000000;
    background-color: #007bff;
    border-radius: 20px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

input,
select,
button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#tarefasLista {
    margin-top: 20px;
}

.tarefa-item {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.tarefa-item p {
    margin: 5px 0;
}

button {
    margin-top: 20px;
    width: auto;
}